.javascript {
  background: #ffa200;
  width: 450px;
  padding: 3px;
  margin-top: 3px;
  border: 2px solid #000;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.book-selected {
  font-style: italic;
}

.book-active {
  font-size: 22px;
  background-color: aquamarine;
}
